@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");
.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

.custom-shape-divider-top-1730723744 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1730723744 svg {
  position: relative;
  display: block;
  width: calc(100% + 1px);
  height: 50px;
}

.custom-shape-divider-top-1730723744 .shape-fill {
  fill: #ffffff;
}

.sidebar {
  -webkit-animation: slide-down 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /* Default slide down */
  animation: slide-down 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%); /* Start above */
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0); /* End at default position */
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.sidebar-hidden {
  -webkit-animation: slide-up 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /* Slide up animation */
  animation: slide-up 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0); /* Start at default position */
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%); /* End above */
    transform: translateY(-100%);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
